---
layout: base
---

<article id="post__content">
  <h1 id="post__title" data-identifier="{{ page.date | date: "%Y%m%d" }}">{{ page.title }}</h1>
  {{ content }}

 <div class="pagination pull-right">
      <ul>
        {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }} " title="{{ page.previous.title }}" class="forward" target="_self" id="goto_previous_page">&larr; 前一篇</a></li>
        {% else %}
        {% endif %}
        {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}" target="_self" class="forward" id="goto_next_page">下一篇 &rarr;</a></li>
        {% else %}
        {% endif %}
      </ul>
    </div>
</article> <!-- end #post__content -->
 <br><br>
{% include share.html %}
{% include duoshuo.html %}


