/*
 * Derived from einaros's Sons of Obsidian theme at
 * http://studiostyl.es/schemes/son-of-obsidian by
 * Alex Ford of CodeTunnel:
 * http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 */
:not(li) > code {
padding: .25em .5em .1em;
color: black;
font: .85em Consolas, Monaco, 'Andale Mono', monospace;
background: #fafafa;
border: 1px solid #e5e8ec;
border-radius: .25em;
vertical-align: 2px;
}
/**
 * 代码颜色
 */
.str
{
    color: #a557a6;
}
.kwd
{
    color: #93C763;
}
.com
{
    color: #66747B;
}
.typ
{
    color: #678CB1;
}
.lit
{
    color: #FACD22;
}
.pun
{
    color: #F1F2F3;
}
.pln
{
    color: #3a6;
}
.tag
{
    color: #8AC763;
}
.atn
{
    color: #E0E2E4;
}
.atv
{
    color: #EC7600;
}
.dec
{
    color: purple;
}
pre.prettyprint
{
    border: 0px solid #888;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}
.prettyprint {
    background: #474d57;
}
/**
 * 偶数行效果
 */
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #474d57;
    background: #474d57;
    list-style-type: decimal;
}
/**
 * 奇数行效果
 */
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #474d57;
}
@media print
{
    
  .str
  {
      color: #a557a6;
  }
  .kwd
  {
      color: #93C763;
  }
  .com
  {
      color: #66747B;
  }
  .typ
  {
      color: #678CB1;
  }
  .lit
  {
      color: #FACD22;
  }
  .pun
  {
      color: #F1F2F3;
  }
  .pln
  {
      color: #3a6;
  }
  .tag
  {
      color: #8AC763;
  }
  .atn
  {
      color: #E0E2E4;
  }
  .atv
  {
      color: #EC7600;
  }
  .dec
  {
      color: purple;
  }

}

/**
 * 行号，去掉即不显示行号
 */
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
}